
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Web Dev Jonny</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/scripts/query.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>
<body>
    
    
    <!--========        HEADER      ==========-->
    
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fas fa-bars fa-3x"></i>
            </div>
            <div class="logo">
                JONNY REEFF
            </div>
            <div class="menu">
                <ul>
                    <li><a href="https://www.linkedin.com/in/jonny-reeff-89726a52" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                    <li><a href="https://github.com/reeffj" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                    <li><a href="#" role="button"><i id="myBtn" class="fas fa-address-card fa-2x"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="header__logo-box">
                <img src="images/jonny_sig.png" class="img-responsive">
            </div>
    </header>
</div>
    
    
    
    <!--======     WORK AND EDUCATION   ======-->
    <section>
    <div class="topcontent">
        <p>WORK AND EDUCATION</p>
    </div>
    
    </section>





<!--========    CONTACT MODAL   ===========-->

<div id="myModal" class="modal">

  <!-- Modal content -->
    <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>CONTACT ME</h2>
            </div>
            <div class="modal-body">
              <p><i class="fas fa-mobile"></i></p>
              <p>206.919.1715</p>
              <br>
              <p><i class="fas fa-envelope"></i></p>
              <p>jonathan.reeff@gmail.com</p>
            </div>
            <div class="modal-footer">
              <h3> </h3>
            </div>
          </div>

<script type="text/javascript" src="/scripts/modal.js"></script>
</body>

</html>