html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  font-family: monospace; }

header {
  width: 100%;
  height: 100vh;
  background: url(../images/abandoned_ladder.jpg) no-repeat 50% 50%;
  background-size: cover; }

.logo {
  position: fixed;
  float: left;
  margin: 36px 30px;
  color: #fff;
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  letter-spacing: .8em;
  text-shadow: -1px 1px #000; }

nav {
  position: fixed;
  width: 100%;
  z-index: 1; }

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s; }

nav.black ul {
  background: rgba(0, 0, 0, 0.8); }

nav ul li {
  display: inline-block;
  padding: 24px 5% 24px 0px;
  text-shadow: -1px 1px #000; }

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px; }

.menu-icon {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none; }

@media (max-width: 840px) {
  .logo {
    letter-spacing: .5em;
    margin-top: 36px;
    font-size: 24px; } }

@media (max-width: 620px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 30px;
    letter-spacing: .25em; }
  nav ul {
    max-height: 0px;
    background: rgba(0, 0, 0, 0.8); }
  nav.black ul {
    background: rgba(0, 0, 0, 0.8); }
  .showing {
    max-height: 20em; }
  nav ul li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 18px 24%;
    text-align: center; }
  .menu-icon {
    display: block; } }

@media (max-width: 450px) {
  .logo {
    font-size: 20px;
    margin-top: 32px; } }

section.section1 {
  width: 100%; }

.topcontent {
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify; }

.header__logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  height: auto; }

.img-responsive {
  width: 100%;
  height: auto; }
